
body > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font: bold 40px sans-serif;
    color: #930;
}

h2 {
    font: bold 20px sans-serif;
    color: #930;
}

.cell {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    font: bold 48px sans-serif;
    background-color: #FFEDBD;
}

.clicked {
    background-color: #999999;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#dogbutton {
    margin: 0px 40px 0 0;
    font: bold 36px sans-serif;
    background-color: #FFEDBD;
}

#catbutton {
    margin: 0px 0 0 40px;
    font: bold 36px sans-serif;
    background-color: #FFEDBD;

}
 
#resetbutton {
    margin: 40px 0 0 0px;
    font: bold 36px sans-serif;
    background-color: #FFEDBD;

}
