<html>
<head>
	<title>Pic-Pac-Poe</title>
</head>
<body>
	<h1>Play board games with your instagram photos.</h1>
	<br>
	<br>
	<a href="users/new">New Players Sign-up Here</a>
	<br>
	<br>
<a href="sessions/new">Login Here</a>
	<% if (user) { %>
		<form action="/sessions?_method=DELETE" method="POST">
			<input type="submit" value="Log out">
		</form>
	<% } %>
</body>
</html>