
<!DOCTYPE html>
</html>
<head>
    <title>Pic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="./gamestyle.css" />
    <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="tttdisplay.js" defer></script>
    <script type="text/javascript" src="tttscore.js" defer></script>
</head>

<body>
		<h1>Pic Tac Toe with Google Images</h1>
		<h2>Choose your avatar</h2>

	<div id="container">

	<div id=search>
			<script>
			  (function() {
			    var cx = '004819069381174499627:bxprxh2i0gw';
			    var gcse = document.createElement('script');
			    gcse.type = 'text/javascript';
			    gcse.async = true;
			    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			        '//www.google.com/cse/cse.js?cx=' + cx;
			    var s = document.getElementsByTagName('script')[0];
			    s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
			<gcse:search></gcse:search>

	</div>

	<div class="box" id="p1">
		<h2> <%= user %> </h2>
	<table>
		<tr>
			<td class="side" id="p11">&nbsp;</td>
		</tr>
	</table>
	</div>

	<div class="box" id="grid1">
	<table>
		<tr>
			<td class="av" id="a1">&nbsp;</td>
			<td class="av" id="a2">&nbsp;</td>
			<td class="av" id="a3">&nbsp;</td>
		</tr>
		<tr>
			<td class="av" id="a4">&nbsp;</td>
			<td class="av" id="a5">&nbsp;</td>
			<td class="av" id="a6">&nbsp;</td>
		</tr>
		<tr>
			<td class="av" id="a7">&nbsp;</td>
			<td class="av" id="a8">&nbsp;</td>
			<td class="av" id="a9">&nbsp;</td>
		</tr>
	</table>
	</div>

	<div class="box" id="p2">
		<h2> Guest </h2>
		<table>
		<tr>
			<td class="side" id="p21">&nbsp;</td>
		</tr>
		</table>
	</div>

	</div>


	<script type="text/javascript">
	<%= pics.each %>
	</script>

</body>
</html>