
<!DOCTYPE html>
</html>
<head>
    <title>Pic Tac Toe</title>
    <link rel="stylesheet" type="text/css" href="./game1.css" />
    <script src="jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="display1.js" defer></script>


</head>

<body>

<h1>Pic Tac Toe with Google Images   Offline demo</h1>
<h2>First, each player selects an avatar by clicking on one of the images.</h2>
<h2>When the board clears, you are ready to play.</h2>

<div id="container">

<div class="box" id="p1">
	<h2> Player 1 Photo </h2>
	<table>
	<tr>
		<td class="side" id="p11">&nbsp;</td>
	</tr>
	</table>
</div>

<div class="box" id="grid1">
<table>
	<tr>
		<td class="av" id="a1">&nbsp;</td>
		<td class="av" id="a2">&nbsp;</td>
		<td class="av" id="a3">&nbsp;</td>
	</tr>
	<tr>
		<td class="av" id="a4">&nbsp;</td>
		<td class="av" id="a5">&nbsp;</td>
		<td class="av" id="a6">&nbsp;</td>
	</tr>
	<tr>
		<td class="av" id="a7">&nbsp;</td>
		<td class="av" id="a8">&nbsp;</td>
		<td class="av" id="a9">&nbsp;</td>
	</tr>
</table>
</div>

<div class="box" id="p2">
	<h2> Player 2 Photo </h2>
	<table>
	<tr>
		<td class="side" id="p21">&nbsp;</td>
	</tr>
	</table>
</div>

</div>
</body>
</html>